$small: 426px;

.home {
  .feature-card {
    position: relative;

    .featured-img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;

      position: relative;
      z-index: 0;
    }

    .detail {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 16px;
      z-index: 1;

      h3 {
        color: #fff;
        margin-bottom: 16px;
      }

      p {
        color: #fff;
      }
    }
  }

  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    input {
      display: block;
      appearance: none;
      border: none;
      outline: none;
      background: none;

      &[type="text"] {
        width: 100%;
        color: #fff;
        background-color: #496583;
        font-size: 20px;
        padding: 10px 16px;
        border-radius: 8px;
        margin-bottom: 15px;
        transition: 0.4s;

        &::placeholder {
          color: #f3f3f3;
        }

        &:focus {
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        }
      }

      &[type="submit"] {
        width: 100%;
        max-width: 300px;
        background-color: #42b883;
        padding: 16px;
        border-radius: 8px;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        transition: 0.4s;

        &:active {
          background-color: #3b8070;
        }
      }
    }
  }

  .title-container {
    display: flex;
    flex-wrap: wrap;

    .title {
      flex: 1 1 50%;

      .content-title {
        margin: 0px 8px;
        padding: 16px 8px;
      }
    }

    .search-div {
      justify-content: right;
      align-items: center;
      display: flex;
      flex: 1 1 50%;
      padding: 0px 10px;

      .search-field {
        color: #fff;
        background-color: #333940;
        font-size: 20px;
        padding: 10px 16px;
        border-radius: 8px 0px 0px 8px;
        /* margin-bottom: 15px; */
        transition: 0.4s;
        border: none;
        outline: none;
      }

      .search-btn {
        max-width: 300px;
        background-color: #edff10;
        padding: 12px 10px;
        border-radius: 0px 8px 8px 0px;
        color: #fff;
        color: #000;
        /* font-size: 20px; */
        font-weight: 800;
        /* text-transform: uppercase; */
        transition: 0.4s;
        border: none;
      }
    }
  }

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 8px;

    .movie {
      max-width: 50%;
      // flex: 1 1 50%;
      flex: 1 1 20%;
      padding: 16px 8px;

      .movie-link {
        display: flex;
        flex-direction: column;
        height: 100%;

        .product-image {
          position: relative;
          display: block;

          img {
            display: block;
            width: 100%;
            height: 275px;
            object-fit: cover;
          }

          .type {
            position: absolute;
            padding: 8px 12px;
            background-color: #42b883;
            color: #fff;
            font-size: 12px;
            bottom: 16px;
            left: 0px;
            text-transform: capitalize;
            font-weight: 600;
            border-radius: 0px 5px 5px 0px;
          }
        }

        .detail {
          //   background-color: #496583;
          background-color: #3a3a3a;
          padding: 16px 8px;
          flex: 1 1 100%;
          border-radius: 0px 0px 8px 8px;

          .year {
            color: #aaa;
            font-size: 14px;
            height: 20px;
          }

          .rating-container {
            .rating {
              background-color: rgba(255, 255, 255, 0.1);
              padding: 5px 10px;
              border-radius: 5px;
              margin-right: 5px;
              font-size: 10px;
              color: white;
              position: relative;
              top: 3px;
            }
          }

          h3 {
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            height: 40px;
            white-space: nowrap;
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          @media screen and (max-width: $small) {
            h3 {
              width: auto;
            }
          }

          .stream-img {
            height: 45px;
            width: auto;
            margin-top: 5%;
          }
        }
      }
    }
  }

  @media screen and (max-width: $small) {
    .movies-list {
      .movie {
        flex: 1 1 50%;
      }
    }
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .home .swiper-slide {
    width: 800px !important;
  }
}
